# Trello Web
BASE_URL=https://www.trello.com
USER_NAME=your_username
USER_PASSWORD=your_password

# Trello API
API_URL=https://api.trello.com
API_KEY=your_api_key
API_TOKEN=your_api_token

# Test configuration
BROWSER=firefox
HEADLESS=false
WINDOW_SIZE=maximized
